<div class="ui vertical inverted sidebar menu left huge">
    {% for item in menu %}
        {% if item.submenu is defined %}
        <div class="item">
            <div class="header">{{ item.label }}</div>
            <div class="menu">
                {% for subitem in item.submenu %}
                    <a class="item" href="{{ subitem.link }}">{{ subitem.label }}</a>
                {% endfor %}
            </div>
        </div>
        {% else %}
            <a class="item" href="{{ item.link }}">{{ item.label }}</a>
        {% endif %}
    {% endfor %}
</div>
{#{{ dump(menu) }}#}

